/*-------------------------------------------------------------------*/
/*resets*/
div {
    margin:0;
    padding:0;
}
p {
    margin:0;
    padding:0;
}
a, a:link, a:visited, a:active {
    color:#8cf;
    text-decoration:none;
}
a:hover {
    color:#fff;
    text-decoration:underline;
}
ul, li {
    margin:0;
    padding:0;
    list-style:none;
}

ol {
    margin:0;
    padding:0 0 0 15px;
}
dl, dt, dd {
    margin:0;
    padding:0;
}
h1, h2, h3, h4, h5, h6 {
    margin:0;
    padding:0;
}

form {
    margin:0;
    padding:0;
}
div.clear {clear:both;}

input.inset {
    background:#E0E8F0;
    filter:     progid:DXImageTransform.Microsoft.gradient(endColorstr='#dfebf3', startColorstr='#ffffff');
    background: -webkit-gradient(linear, left bottom, left top, from(#dfebf3), to(#fff));
    background: -moz-linear-gradient(bottom,  #dfebf3,  #fff);
    line-height:12px;
    font-size:  16px;
    padding: 5px 4px 3px;
    font-weight:normal;
    text-shadow: -1px 0 1px #888888;
    color: #224;
    border: 1px inset #888;    
    margin:1px 0;
    height:12px;
    
    -moz-border-radius:     6px;
    -webkit-border-radius:  6px;
    border-radius:          6px;
    -moz-box-shadow:    2px 2px 3px #000 inset;
    -webkit-box-shadow: 2px 2px 3px #000 inset;
    box-shadow:         2px 2px 3px #000 inset;
    
}
.transition {
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}
/*-------------------------------------------------------------------*/

html {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

body {
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    font-size:62.5%;
    height:100%;
    width:100%;
    background:#000;
}
/*-------------------------------------------------------------------*/
/*  Baselayout */
body div.wrapper {
    width:  100%;
    min-height: 100%;
    position:relative;
}
body div.header {
    width:  100%;
    height: 124px;
    position:absolute;
    top:0;
    z-index:100;
}
body div.header .content-header {
    height: 100%;
    line-height:20px;
    color:white;
    background: url(gfx/header-gfx.jpg) top center no-repeat;
}
body div.header .content-header .logo {
    margin-left: -110px;
    left:50%;
    width:220px;
    height:60px;
    cursor:pointer;
    top:16px;
    position:absolute;
}
body div.header .newsblock {
    width:200px;
    height:100px;
    background: url(./gfx/postit.png) top left no-repeat;
}
body div.header .options {
    margin:0 auto;
    position:absolute;
    height:24px;
    text-align:center;
    top:92px;
    right:0;
}
body div.header .newsblock #newscontent {
    color:black;
    position:relative;
    left:12px;
    top:30px;
    width:176px;
    height:60px;
    -moz-transform:rotate(-5deg);
    -webkit-transform:rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-5deg);    
    overflow:hidden;
}
body div.header .newsblock #newscontent a {
    font-family:Arial;
    font-size:13px;
    white-space:nowrap;    
    color:black;
    display:block;
    line-height:14px;
}

body div.content {
    padding: 124px 0 50px;
}
body div.footer {
    height: 36px;
    position:absolute;
    bottom: 0px;
    left:0;
    right:0;

    border-top:1px solid #000;
    background:#224466;
    background: url(./gfx/footer-repx.png) 0 0 repeat-x;
    color:white;
}
body div.footer .content-footer {
    line-height:20px;
    color:white;
    text-align:center;
    background: url(./gfx/footer-gfx.png) top center no-repeat;
    padding: 8px 0 0 0;
}
div.content-width {
    width:  80%;
    min-width: 760px;
    margin: 0 auto;
}
/*-------------------------------------------------------------------*/
/* feedback overlays */
/*-------------------------------------------------------------------*/
div.feedback-done {
    border:1px solid #46a237;
    padding:8px 16px;
    font-size:1.5em;
    font-weight:bold;
    position:fixed;
    top:0;
    left:0;
    right:0;
    text-align:center;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1b5224', endColorstr='#30b245');
    background: -webkit-gradient(linear, left top, left bottom, from(#1b5224), to(#30b245));
    background: -moz-linear-gradient(top,  #1b5224,  #30b245);
    color:white;
}
div.feedback-error {
    border:1px solid #913d3d;
    padding:8px 16px;
    font-size:1.5em;
    font-weight:bold;
    position:fixed;
    top:0;
    left:0;
    right:0;
    text-align:center;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50111d', endColorstr='#d43b5a');
    background: -webkit-gradient(linear, left top, left bottom, from(#50111d), to(#d43b5a));
    background: -moz-linear-gradient(top,  #50111d,  #d43b5a);
    color:white;
}
/* Layer-Overlay */
#dark-bg {
    position:fixed;
    top:0;
    right:0;
    border:0;
    left:0;
    width:100%;
    height:100%;
    background:#333;
    opacity:0.5;
    z-index:2000000;
}
#overlay-box {
    padding:10px;
    position:fixed;
    z-index:2000001;
    top: 40%;
    left:50%;
    background: #3a6277;
    
    background: rgba(60, 100, 120, 0.7);

    -moz-border-radius:     15px;
    -webkit-border-radius:  15px;
    border-radius:          15px;

    border-left:   1px solid #406070;
    border-top:    1px solid #406070;
    border-right:  1px solid #153040;
    border-bottom: 1px solid #153040;
}
.gradient1 {
    filter: progid:DXImageTransform.Microsoft.gradient(endColorstr='#dfebf3', startColorstr='#ffffff');
    background: -webkit-gradient(linear, left bottom, left top, from(#dfebf3), to(#fff));
    background: -moz-linear-gradient(bottom,  #dfebf3,  #fff);
}

#js_overlay-box-content {
    position:relative;
    padding: 12px;
    background:#E0E8F0;

    -moz-border-radius:     6px;
    -webkit-border-radius:  6px;
    border-radius:          6px;
    -moz-box-shadow:    0 0 2px #000;
    -webkit-box-shadow: 0 0 2px #000;
    box-shadow:         0 0 2px #000;
}
div.close-overlay-box  {
    height:20px;
    width:20px;
    background:white;
    border:2px solid black;
    position:absolute;
    right:-6px;
    top:-6px;
    cursor:pointer;
    z-index:10000;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    font-size:20px;
    line-height:16px;
    text-align:center;
}
/* default overlay box for multiple content types*/
#js_overlay-box-content h3 {
    font-size:1.6em;
    color:#00204e;
    color:#20558a;
    padding:0 0 0 0;
    margin:0;
    height:30px;
    line-height:30px;   
}
/*  Layout div. Overlays */
div.loginbox {
    width: 300px;
    height: auto;
}
div.loginbox dl {clear:both;}
div.loginbox dl dt {width:100px; float:left; font-size:1.2em; font-weight:bold; line-height:22px;}
div.loginbox dl dd {width:180px; float:right;}
div.loginbox dl dd input {width:180px;}

/* Layout Profilbox */
div.profilebox {
    width: 420px;
    height: auto;
}
div.profilebox dl   {clear:both;}
div.profilebox dl dt {width:100px; float:left;  font-size:14px; font-weight:bold; line-height:22px;}
div.profilebox dl dd {width:300px; float:right; font-size:14px; line-height:22px;}
div.profilebox dl dd input {width:300px;}
div.profilebox label {display:block;}
div.profilebox textarea {width:100%;resize: none;}


/* Layout für PMs */
div.messagebox {
    width: 480px;
    height: auto;
}
div.messagebox dl {clear:both;}
div.messagebox dl dt {width:100px; float:left; font-size:1.2em; font-weight:bold; line-height:22px;}
div.messagebox dl dd {width:360px; float:right;padding:4px 0 0;font-size:12px;}
div.messagebox dl dd input,
div.messagebox dl dd textarea {width:360px;}



div.delete-post {
    width: 300px;
    height: auto;
}
div.move-topic {
    width: 400px;
    height: auto;
}
div.edit-topic {
    width:500px;
    height:auto;
    font-size:12px;
}
div.edit-topic table {margin:0 0 12px 0;}
div.edit-topic table th {vertical-align:middle;text-align:left;}
div.edit-threads {
    width: 600px;
    height: auto;
}
div.edit-threads a {
    display:inline-block;
    width:100px;
    color:black;
    text-align:center;
    padding:8px 0;
    background:#ccc;
    border:1px solid #888;
    margin:8px 0 0 0;
    position:relative;

    -moz-border-radius:     8px 8px 0 0;
    -webkit-border-radius:  8px 8px 0 0;
    border-radius:          8px 8px 0 0;

    filter: progid:DXImageTransform.Microsoft.gradient(endColorstr='#888888', startColorstr='#DFEBF3');
    background: -webkit-gradient(linear, left bottom, left top, from(#888888), to(#DFEBF3));
    background: -moz-linear-gradient(bottom,  #888888,  #DFEBF3);
    
}
div.edit-threads a:hover,
div.edit-threads a.active {
    border-bottom:1px solid #fff;
    background:#fff;
    z-index:1;

    filter: progid:DXImageTransform.Microsoft.gradient(endColorstr='#ffffff', startColorstr='#DFEBF3');
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#DFEBF3));
    background: -moz-linear-gradient(bottom,  #ffffff,  #DFEBF3);
    
}
div.edit-threads div.editbox {
    height:200px;
    background:#fff;
    border:1px solid #888;
    position:relative;
    top:-1px;
    z-index:0;
    padding:8px;
    font-size:12px;
}
div.edit-threads div.editbox label input {
    width:auto !important;
}
div.edit-threads dt {
    float:left;
    width:30%;
    font-weight:bold;
    font-size:12px;
    line-height:16px;
}
div.edit-threads dd {
    float:left;
    width:70%;
}
div.edit-threads dd input,
div.edit-threads dd select,
div.edit-threads dd textarea {
    width:100%;
    resize:none;
}

ul.thread-tree {
    padding:0 0 0 12px;
}
ul.thread-tree li {
    clear:both;
}
ul.thread-tree li span {
    width:16px;
    height:12px;
    float:left;
    margin:0 4px 0 0;
}
ul.thread-tree li span.folder       {background:url(./gfx/icons.png) 0 0 repeat-x transparent;}
ul.thread-tree li span.folder-empty {background:url(./gfx/icons.png) -16px 0 repeat-x transparent;}
ul.thread-tree li em {
    width:8px;
    height:12px;
    position:relative;
    margin:0 4px 0 0;
    float:left;
    display:block;
}
ul.thread-tree li em.open  {background:url(./gfx/icons.png) -32px 0 repeat-x transparent;}
ul.thread-tree li em.close {background:url(./gfx/icons.png) -40px 0 repeat-x transparent;}
ul.thread-tree li a {
    display:block;
    white-space:nowrap;
    color:black;
    height:16px;
}
ul.thread-tree li a:hover {
    background: #ccc;
}
ul.thread-tree li a.active {
    background: #444;
    color:white;
    font-weight:bold;
}
div.edit-threads label.sm {
    display:block;
    font-size:12px;
    margin-top:-1px;
    line-height:10px;
}
div.edit-threads label:hover {
    font-weight:bold;
}
div.edit-threads label.sm input {
    margin:0;
}

/*  other icons */
span.bigfolder-open     {background:url(./gfx/icons.png) 0 -12px repeat-x transparent;width:28px;height:21px;}
span.bigfolder-close    {background:url(./gfx/icons.png) 0 -33px repeat-x transparent;width:28px;height:21px;}
span.folder00           {background:url(./gfx/icons.png) -32px -12px repeat-x transparent;width:16px;height:11px;}
span.folder01           {background:url(./gfx/icons.png) -32px -36px repeat-x transparent;width:16px;height:13px;}
span.folder10           {background:url(./gfx/icons.png) -32px -24px repeat-x transparent;width:16px;height:11px;}
span.folder11           {background:url(./gfx/icons.png) -32px -50px repeat-x transparent;width:16px;height:13px;}

/*-------------------------------------------------------------------*/
/*  Outerframe */
.outerframe {
    background: #254050;
    background: rgba(37,64,80,0.6);
    position:relative;

    -moz-border-radius:     15px;
    -webkit-border-radius:  15px;
    border-radius:          15px;
    border-left: 1px solid #304858;
    border-top:  1px solid #304858;
    border-right:  1px solid #102838;
    border-bottom: 1px solid #102838;;
    
}
/*-------------------------------------------------------------------*/
/*  Innerframe */
.innerwrapper {
    padding:8px;
    position:relative;
}
.innerframe {
    position:relative;
    background: #3a6277;
    padding: 8px 12px 10px 8px;

    -moz-border-radius:     8px;
    -webkit-border-radius:  8px;
    border-radius:          8px;
    -moz-box-shadow:    0 0 2px #000;
    -webkit-box-shadow: 0 0 2px #000;
    box-shadow:         0 0 2px #000;
}
/*-------------------------------------------------------------------*/
/*  Thread */
div.thread,
div.topics,
div.messages {
    position:relative;
    border: 1px solid #eee;
    width:100%;
    margin:0;
    padding:0;

    -moz-border-radius:     6px 6px 4px 4px;
    -webkit-border-radius:  6px 6px 4px 4px;
    border-radius:          6px 6px 4px 4px;
    white-space:nowrap;
    
    -moz-box-shadow:    2px 2px 8px #000;
    -webkit-box-shadow: 2px 2px 8px #000;
    box-shadow:         2px 2px 8px #000;
    
    background: #D4E7F8;
}
div.thread dl.dark,
div.topics dl.dark,
div.messages dl.dark {
    overflow:hidden;
    position:relative;
    width:100%;
    height:34px;
}
div.thread dl.dark dd div.headline,
div.topics dl.dark dd div.headline,
div.messages dl.dark dd div.headline {
    background:#E0E8F0;
    filter: progid:DXImageTransform.Microsoft.gradient(endColorstr='#dfebf3', startColorstr='#ffffff');
    background: -webkit-gradient(linear, left bottom, left top, from(#dfebf3), to(#fff));
    background: -moz-linear-gradient(bottom,  #dfebf3,  #fff);
    border-top: 1px solid #eef;
    border-bottom: 1px solid #ccf;
    text-align:center;
    line-height:24px;
    font-size:1.2em;
    padding: 0 4px;
    height:24px;
}
div.thread dl.dark dd,
div.topics dl.dark dd,
div.messages dl.dark dd {
    position:absolute;
    top:0;
    padding: 4px 0;
}
div.thread dl.light,
div.topics dl.light,
div.messages dl.light {
    overflow:hidden;
    background:#fff;
    height:48px;
    position:relative;
    vertical-align:top;
}
div.thread dl.light dd,
div.topics dl.light dd,
div.messages dl.light dd {
    background:#E0E8F0;
    filter: progid:DXImageTransform.Microsoft.gradient(endColorstr='#F8FcFF', startColorstr='#ffffff');
    background: -webkit-gradient(linear, left bottom, left top, from(#F8FcFF), to(#fff));
    background: -moz-linear-gradient(bottom,  #F8FcFF,  #fff);
    border-top: 1px solid #eef;
    text-align:left;
    line-height:12px;
    height:100%;
    padding:8px;
}
div.thread dl.light dd,
div.topics dl.light dd,
div.messages dl.light dd {
    position:absolute;
    top:0;
}
div.thread dl.light dd a,
div.topics dl.light dd a,
div.messages dl.light dd h1 {
    font-size:1.2em;
    font-weight:normal;
    color: #206090;
    text-shadow: 1px 0 0 #105080;
    display:block;
}
div.thread dl.light dd:hover h1,
div.topics dl.light dd:hover h1,
div.messages dl.light dd:hover h1 {
    color: #c22;
    text-shadow: 1px 0 0px #268;
}
div.thread dl.light dd span,
div.topics dl.light dd span,
div.messages dl.light dd span {
    font-size:1em;
    font-weight:normal;
    color: #206080;
    margin: 4px 0 0;
    display:block;
}

div.messages .subject {
    cursor: pointer;
}

/* Thread Columns */
div.thread dl.dark dd.board {left:0;  right:40%;}
div.thread dl.dark dd.topic {left:60%;right:30%;border-left: 1px solid #ddd;}
div.thread dl.dark dd.posts {left:70%;right:20%;border-left: 1px solid #ddd;}
div.thread dl.dark dd.lpost {left:80%;right:0;  border-left: 1px solid #ddd;}
div.thread dl.light dd.icon  {left:0;   width:48px;}
div.thread dl.light dd.board {left:48px;right:40%;border-left: 1px solid #eee;}
div.thread dl.light dd.topic {left:60%; right:30%;border-left: 1px solid #eee;}
div.thread dl.light dd.posts {left:70%; right:20%;border-left: 1px solid #eee;}
div.thread dl.light dd.lpost {left:80%; right:0;  border-left: 1px solid #eee;}
/* Topics Columns */
div.topics dl.light     {height:28px;}
div.topics dl.light dd  {padding:2px 4px;line-height:20px;font-size:14px;}
div.topics dl.dark dd.topics   {left:0;  right:40%;}
div.topics dl.dark dd.author   {left:60%;right:25%;border-left: 1px solid #ddd;}
div.topics dl.dark dd.answers  {left:75%;right:20%;border-left: 1px solid #ddd;}
div.topics dl.dark dd.accessed {left:80%;right:15%;border-left: 1px solid #ddd;}
div.topics dl.dark dd.lanswer  {left:85%;right:0;  border-left: 1px solid #ddd;}
div.topics dl.light dd.icon1   {left:0;   width:20px; padding:3px 0 0 0;}
div.topics dl.light dd.icon2   {left:20px;width:20px; padding:5px 0 0 0;}
div.topics dl.light dd.topic   {left:40px;right:40%;border-left: 1px solid #eee;}
div.topics dl.light dd.topic a {display:block;color: #206090;text-shadow: 1px 0 0 #105080;font-size:12px;height:100%;}
div.topics dl.light dd.author  {left:60%; right:25%;border-left: 1px solid #eee;}
div.topics dl.light dd.answers {left:75%; right:20%;border-left: 1px solid #eee;text-align:center;}
div.topics dl.light dd.accessed{left:80%; right:15%;border-left: 1px solid #eee;text-align:center;}
div.topics dl.light dd.lanswer {left:85%; right:0;  border-left: 1px solid #eee;line-height:11px;}
div.topics dl.light dd.lanswer div.author  {font-size:11px;margin:0;}
div.topics dl.light dd.lanswer div.date    {font-size:9px;margin:0;}
div.topics dl.light dd.topic:hover   {color: #c22;text-shadow: 1px 0 0px #268;}
/* Messages */
div.messages dl.light     {height:28px;}
div.messages dl.light dd  {padding:2px 4px;line-height:20px;font-size:14px;}
div.messages dl.dark dd.received {left:0;  right:80%;}
div.messages dl.dark dd.author   {left:20%;right:60%;border-left: 1px solid #ddd;}
div.messages dl.dark dd.subject  {left:40%;right:0;  border-left: 1px solid #ddd;}

div.messages dl.light dd.icon     {left:0;    width:20px; padding:2px 0 0 3px;}
div.messages dl.light dd.delete   {left:20px; width:20px; padding:3px 0 0 2px;}
div.messages dl.light dd.received {left:40px; right:80%; text-align:right;}
div.messages dl.light dd.author   {left:20%;right:60%;border-left: 1px solid #eee;}
div.messages dl.light dd.subject  {left:40%;right:0;  border-left: 1px solid #eee;}
div.messages dl.light dd.subject:hover   {color: #c22;text-shadow: 1px 0 0px #268;}


/* überarbeiten */
table.create-thread,
table.topics,
table.posts,
table.general {
    position:relative;
    border: 1px solid #eee;
    width:100%;
    margin:0;
    padding:0;

    -moz-border-radius:     8px 8px 4px 4px;
    -webkit-border-radius:  8px 8px 4px 4px;
    border-radius:          8px 8px 4px 4px;
    white-space:nowrap;
    
    -moz-box-shadow:    2px 2px 8px #000;
    -webkit-box-shadow: 2px 2px 8px #000;
    box-shadow:         2px 2px 8px #000;
    
    background: #D4E7F8;
}
table.create-thread tr.dark,
table.posts  tr.dark,
table.general tr.dark {
    overflow:hidden;
    position:relative;
}
table.create-thread tr.dark td div.headline,
table.posts  tr.dark td div.headline,
table.general  tr.dark td div.headline {
    background:#E0E8F0;
    filter: progid:DXImageTransform.Microsoft.gradient(endColorstr='#dfebf3', startColorstr='#ffffff');
    background: -webkit-gradient(linear, left bottom, left top, from(#dfebf3), to(#fff));
    background: -moz-linear-gradient(bottom,  #dfebf3,  #fff);
    border-top: 1px solid #eef;
    border-bottom: 1px solid #ccf;
    text-align:center;
    line-height:24px;
    margin:5px 0 4px 0;
    font-size:1.2em;
    padding: 0 4px;
    height:24px;
}
table.posts  tr.light,
table.general tr.light {
    overflow:hidden;
    background:#fff;
    height:48px;
    position:relative;
    vertical-align:top;
}
table.posts  tr.light td,
table.general tr.light td {
    background:#E0E8F0;
    filter: progid:DXImageTransform.Microsoft.gradient(endColorstr='#F8FcFF', startColorstr='#ffffff');
    background: -webkit-gradient(linear, left bottom, left top, from(#F8FcFF), to(#fff));
    background: -moz-linear-gradient(bottom,  #F8FcFF,  #fff);
    border-top: 1px solid #eef;
    text-align:left;
    line-height:12px;
    font-size:11px;
    height:100%;
    padding:8px;
}
.innerframe div.navigation {
    background:#E0E8F0;
    filter:     progid:DXImageTransform.Microsoft.gradient(endColorstr='#dfebf3', startColorstr='#ffffff');
    background: -webkit-gradient(linear, left bottom, left top, from(#dfebf3), to(#fff));
    background: -moz-linear-gradient(bottom,  #dfebf3,  #fff);
    line-height:16px;
    height:16px;
    font-size:  12px;
    padding: 5px 8px 3px;
    font-weight:bold;
    text-shadow: -1px 0 1px #888888;
    color: #224;
    
    margin:4px 0 8px;
    
    -moz-border-radius:     6px;
    -webkit-border-radius:  6px;
    border-radius:          6px;
    -moz-box-shadow:    2px 2px 3px #000 inset;
    -webkit-box-shadow: 2px 2px 3px #000 inset;
    box-shadow:         2px 2px 3px #000 inset;
    position:relative;   
}
.innerframe div.navigation a {
    text-decoration: none;
    color: black;
}
.innerframe div.navigation a:hover {
    color: #c22;
    text-shadow: 1px 0 0px #268;
}
.innerframe div.pager {
    line-height:18px;
    height:14px;
    font-size:  14px;
    padding: 4px 8px;
    font-weight:bold;
    position:absolute;
    right:1px;
    top:1px;
}
.innerframe div.pager a {
    text-decoration: none;
    color: black;
}
.innerframe div.pager a:hover {
    color: #c22;
    text-shadow: 1px 0 0px #268;
}
div.pager span.active {
    color:#44cc44;
}

.innerframe span.thread-header a {
    font-size:1.2em;
    display:block;
    line-height:1.2em;
    text-align:center;
    margin:4px 0;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 0 0 #3070a0;
}
.innerframe span.thread-header a:hover {
    text-shadow: 0 0 4px #fff;
}

/* createThread */
table.create-thread tr.dark td.row1 {
    width:100%;
    font-weight:bold;
}
table.create-thread tr.light td {
    font-size: 12px;
    font-weight:bold;
    line-height:16px;
    padding: 0 8px;
    vertical-align:top;
}

/* Posts */
table.posts tr.dark td.row1 {
    width:200px;
}
table.posts tr.dark td.row2 {
    border-left: 1px solid #ddd;
}
table.posts tr.light td.row0 {
    width:200px;
}
table.posts tr.light td.row0 h1 {
    font-size:1.2em;
    text-align:center;
}
table.posts tr.light td.row0 p {
    font-size:1em;
    text-align:center;
}
table.posts tr.light td.row0 img {
    margin:8px auto 30px;
    display:block;
    width: 80px;
    height:80px;
    -webkit-box-reflect:below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.6, transparent), to(white));
}    
table.posts tr.light td.row0 dl {
    display:block;
    clear:both;
    position:relative;
}
table.posts tr.light td.row0 dt {
    width:100px;
}
table.posts tr.light td.row0 dd {
    overflow:hidden;
    position:absolute;
    top:0;
    left:72px;
    right:4px;
}

table.posts tr.light td.row1 {
    border-left: 1px solid #eee;
    font-size:  1.2em;
    line-height:1.2em;
}
table.posts tr.light td div.posting {
    white-space: pre-wrap;
}

/*  BBCode */

ul.bblist {
  padding-left: 30px;
}
ul.bblist.bblistcircle li {
    list-style: circle;
}
ul.bblist.bblista li {
  list-style: lower-latin;
}
ul.bblist.bblist1 li {
  list-style: decimal;
}

div.bb_code,
div.bb_quote {
    background: #888;
    padding: 0 0 0 8px;
    margin:8px 0 8px 16px;
    -moz-box-shadow:    2px 2px 3px #446;
    -webkit-box-shadow: 2px 2px 3px #446;
    box-shadow:         2px 2px 3px #446;
}
div.bb_quote {
    background: #ccc;
    border: 1px solid #eef;
}
div.bb_quote div.headline {
    background:#E0E8F0;
    filter: progid:DXImageTransform.Microsoft.gradient(endColorstr='#dfebf3', startColorstr='#ffffff');
    background: -webkit-gradient(linear, left bottom, left top, from(#dfebf3), to(#fff));
    background: -moz-linear-gradient(bottom,  #dfebf3,  #fff);
    border-bottom: 1px solid #cce;
    line-height:24px;
    font-size:1.2em;
    padding: 0 4px;
    font-weight:bold;
    text-shadow: -1px 0 0 #a0c0ff;
    color: #205090;
}
div.bb_code code,
div.bb_quote code {
    background: #eee;
    font-size: 1.2em;
    padding: 8px;
    display:block;    
}
div.bb_quote code {
    background:#E0E8F0;
    filter: progid:DXImageTransform.Microsoft.gradient(endColorstr='#F8FcFF', startColorstr='#ffffff');
    background: -webkit-gradient(linear, left bottom, left top, from(#F8FcFF), to(#fff));
    background: -moz-linear-gradient(bottom,  #F8FcFF,  #fff);
    border-top: 1px solid #eef;
    text-align:left;
    line-height:12px;
    height:100%;
    padding:8px;
}
a.ext-link {
    text-decoration:underline;
    color:auto;
}
div.bb-select {
    width:160px !important;
    float:left !important;
    line-height:20px !important;
    padding:0 0 0 8px !important;
}


/*  Buttons */
div.button {
    background:#E0E8F0;
    filter: progid:DXImageTransform.Microsoft.gradient(endColorstr='#dfebf3', startColorstr='#ffffff');
    background: -webkit-gradient(linear, left bottom, left top, from(#dfebf3), to(#fff));
    background: -moz-linear-gradient(bottom,  #dfebf3,  #fff);
    border-bottom: 1px solid #cce;
    line-height:24px;
    font-size:1.2em;
    padding: 4px 16px;
    font-weight:bold;
    text-shadow: -1px 0 0 #a0c0ff;
    color: #205090;
    display:inline;
    margin:0 4px;
    cursor:pointer;
    
    -moz-border-radius:     6px;
    -webkit-border-radius:  6px;
    border-radius:          6px;
    -moz-box-shadow:    0 0 2px #ccf;
    -webkit-box-shadow: 0 0 2px #ccf;
    box-shadow:         0 0 2px #ccf;
}
div.button:hover {
    color: #c22;
    text-shadow: -1px 0 1px #ccf;
}
div.button.inactive,
div.small-button.inactive {
    opacity:0.5;
    color:#444;
}

div.small-button,
input.small-button,
div.bb-select {
    background:#E0E8F0;
    filter: progid:DXImageTransform.Microsoft.gradient(endColorstr='#dfebf3', startColorstr='#ffffff');
    background: -webkit-gradient(linear, left bottom, left top, from(#dfebf3), to(#fff));
    background: -moz-linear-gradient(bottom,  #dfebf3,  #fff);
    border: none;
    border-bottom: 1px solid #cce;
    line-height:1em;
    font-size:  1em;
    padding: 4px 16px;
    font-weight:bold;
    text-shadow: -1px 0 0 #a0c0ff;
    color: #205090;
    float:right;
    margin:2px 4px;
    cursor:pointer;
    
    -moz-border-radius:     6px;
    -webkit-border-radius:  6px;
    border-radius:          6px;
    -moz-box-shadow:    1px 1px 4px #88c;
    -webkit-box-shadow: 1px 1px 4px #88c;
    box-shadow:         1px 1px 4px #88c;
}
div.small-button:hover {
    color: #c22;
    text-shadow: -1px 0 1px #ccf;
}
div.small-button.mod {
    float:left;
    filter: progid:DXImageTransform.Microsoft.gradient(endColorstr='#ff4488', startColorstr='#ffcccc');
    background: -webkit-gradient(linear, left bottom, left top, from(#ff4488), to(#ffcccc));
    background: -moz-linear-gradient(bottom,  #ff4488,  #ffcccc);
    color:#822;
    text-shadow: -1px 0 1px #fff;
}
div.small-button.mod:hover {
    color: #000;
    -moz-box-shadow:    1px 1px 6px #000;
    -webkit-box-shadow: 1px 1px 6px #000;
    box-shadow:         1px 1px 6px #000;
}

div.bb-select select {height:20px;}

div.button-container {
    -webkit-box-reflect:below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.3, transparent), to(white));
    height:24px;
    position:relative;
    margin: 0 0 10px;
    float:right;
}
h1.topic-headline {
    display:inline;
    font-size:16px;
    line-height:24px;
    text-shadow: -1px 0 0 #888;
    color: #fff;
    margin:0 8px;
    font-weight:normal;
    float:left;
}
div.signature {
    border-top: 1px solid #ccf;
    padding:8px 0 0;
    max-height:100px;
    overflow:hidden;
    margin: 20px 0 0 0;
    white-space:pre-wrap;
}

/* AdminPanel */
#js_adminbox {
    position:fixed;
    top:100px;
    left:0;
    width:150px;
    min-height:100px;
    z-index:1;
    display:none;
}
#js_adminbox div.innerframe {
    height:100%;
    font-weight:bold;
    color:white;
    font-size:12px;
    text-align: left;
    margin: 0 0 8px 0;
}
#js_adminbox .innerframe.withIconButtons>div {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 17px;
    background-color: #254050;
}
#js_adminbox .innerframe.withIconButtons i {
    vertical-align: middle;
}
#js_adminbox .button {
    font-size:11px;
    white-space:nowrap;
    padding:2px;
    display:block;
    margin:0 0 4px 0;
}
#js_adminbox h1 {
    font-size:14px;
    margin: 0 0 4px 0;
}
div.pollcontainer {
    background:#E0E8F0;
    filter:     progid:DXImageTransform.Microsoft.gradient(endColorstr='#dfebf3', startColorstr='#ffffff');
    background: -webkit-gradient(linear, left bottom, left top, from(#dfebf3), to(#fff));
    background: -moz-linear-gradient(bottom,  #dfebf3,  #fff);
    line-height:16px;
    
    font-size:  12px;
    padding: 5px 8px 3px;
    font-weight:bold;
    text-shadow: -1px 0 1px #888888;
    color: #224;
    
    margin:4px 0 8px;
    
    -moz-border-radius:     6px;
    -webkit-border-radius:  6px;
    border-radius:          6px;
    -moz-box-shadow:    2px 2px 3px #000 inset;
    -webkit-box-shadow: 2px 2px 3px #000 inset;
    box-shadow:         2px 2px 3px #000 inset;
    position:relative;   
}
div.pollcontainer label {
    display:block;
    width:50%;
    float:left;
    overflow:hidden;
}
div.pollcontainer th {
    text-align:left;
    padding:2px 8px;
}
div.pollcontainer td {
    text-align:right;
    padding:2px 8px;
}
div.pollcontainer div.pollbar {
    background:#d0d8e0;
    filter: progid:DXImageTransform.Microsoft.gradient(endColorstr='#3A6277', startColorstr='#aaaaff');
    background: -webkit-gradient(linear, left bottom, left top, from(#3A6277), to(#aaf));
    background: -moz-linear-gradient(bottom,  #3A6277,  #aaf);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #336;
    height:100%;

    -moz-border-radius:     6px;
    -webkit-border-radius:  6px;
    border-radius:          6px;
    -moz-box-shadow:    2px 2px 3px #fff inset;
    -webkit-box-shadow: 2px 2px 3px #fff inset;
    box-shadow:         2px 2px 3px #fff inset;
}
div.newmail {
    height: 107px;
    width: 100px;
    float:left;
    background: url(./gfx/newmail.png) top left no-repeat;
}
/* Forum editieren */
div.searchmod {
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
}
div.searchmod .fader {
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    background:white;
    opacity:0.8;
}
div.searchmod .search {
    margin:0% auto;
    top:10px;
    max-height:160px;
    width:90%;

    -moz-border-radius:     6px;
    -webkit-border-radius:  6px;
    border-radius:          6px;
    -moz-box-shadow:    2px 2px 3px #000;
    -webkit-box-shadow: 2px 2px 3px #000;
    box-shadow:         2px 2px 3px #000;
    border:1px solid black;
    position:relative;
    padding:10px;
}    
div.searchmod .search dl {
    display:block;
}
div.searchmod .search dt {
    float:left;
    width:20%;
    position:relative;
    font-size:13px;line-height:20px;
}
div.searchmod .search dd {
    float:left;
    width:30%;
    position:relative;
}
div.searchmod .search dd input {
    width:90%;
    height:14px;
    line-height:12px;
}
#js_searchresult {
    max-height:120px;
    overflow:auto;
}
#js_searchresult table.general tr.light {
    height:auto;
}



.clickable {
    cursor: pointer;
}





.defaultForm fieldset {
    margin: 10px 0;
}

.defaultForm label {
    vertical-align: top;
    min-width: 150px;
    display: inline-block;
    vertical-align: middle;
}

.defaultForm p {
    margin: 5px 0;
}

.defaultForm input, .defaultForm textarea {
    vertical-align: middle;
}

.flagOption {
    display: inline-block;
    width: 250px;
}